@{
    ViewData["Title"] = "Home Page";
}

<form action="~/Home/CheckingAccount">
    <a >StudentID</a>
    <input type="text" name="StudentID" />
    <a>Password</a>
    <input type="password" name="Password"/>
    <input type="submit" name="OK" value="Sign in" />
</form>
