
@{
    ViewData["Title"] = "Add New Student View";
}


    <form action="~/Detail/SaveAdd">
        <h1 style="font-size:15px">StudentID</h1>
        <input type="text" name="StudentId"  />
        <h1 style="font-size:15px">password</h1>
        <input type="text" name="password" />
        <h1 style="font-size:15px">Name</h1>
        <input type="text" name="Name"  />
        <h1 style="font-size:15px">Address</h1>
        <input type="text" name="Address"  />
        <h1 style="font-size:15px">Date of birth</h1>
        <input type="text" name="DateOfBirth"  />
        <h1 style="font-size:15px">Gender</h1>
        <input type="radio" name="Gender" value="true" > Male
        <input type="radio" name="Gender" value="false" > Female
        <h1 style="font-size:15px">Score</h1>
        <input type="text" name="Score"  />



        
        <h1></h1>
        <input type="submit" name="OK" value="SAVE" />
    </form>

