
@using System.Diagnostics;
@{
    ViewData["Title"] = "Change Password";
}

<form action="~/Detail/SaveChangePassword">
    <h1 style="font-size:15px">Account</h1>
    <input type="text" name="StudentId" value="@ViewBag.MyString" readonly />
    <h1 style="font-size:15px">Old Password</h1>
    <input type="text" name="OldPassword"  />
    <h1 style="font-size:15px">New Password</h1>
    <input type="text" name="NewPassword" />
    <h1 style="font-size:15px">Confirm Password</h1>
    <input type="password" name="ConfirmPassword"/>
    <h1></h1>
    <input type="submit" name="OK" value="SAVE" />
</form>

