@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home Page";
}
<h1 style="color:red;font-size:20px;align-content:center">YOUR INFORMATION IS INVALID PLEASE TRY AGAIN</h1>
